.container{
    width: 390px;
    height: 840px;
    border-radius: 10px;
    background: #d4d4d4;
    margin-left: auto;
    margin-right: auto;

}
h2{
    text-align: center;
    padding: 30px;
    margin: 5px;
    margin-top: 0px;
}
label{
    text-align: left;
    padding: 7px;
    
}
input {
    padding: 7px;
    margin: 5px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding in width calculation */
    padding: 10px;


}
form input[type="text"]{
    margin-left: 100px;
}
form input[type="tel"]{
    margin-left: 68px;
}
form input[type="email"]{
    margin-left: 115px;
}
form input[type="date"]{
    margin-left: 110px;
}
form input[type="text1"]{
    margin-left: 60px;
}
form input[type="text2"]{
    margin-left: 190px;
}
form input[type="file"]{
    margin-left: 40px;
    background-color: white;
    border: 1px solid #fff;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding in width calculation */
    padding: 10px;
}
form input[type="radio"]{
    margin-left: 5px;
    margin: 7px;
}
form input[type="text2"]{
    margin-left: 120px;
}
form input[type="text3"]{
    margin-left: 90px;
}
.qa{
    margin-left:30px;


}
.gen{
    padding: 10px;

}
.g1{
    padding: 5px;
    margin: 5px;
    margin-left: 140px;
}
.g2{
    padding: 5px;
    margin: 5px;
    margin-left: 10px;
}
.error{
    
    margin-left: 190px;
    margin-top: 2px;
    margin-bottom: 0;
    color: red;
    display: none;
}
.submit{
    margin: 10px;
    text-align: center;
}
.btn1{
    border-radius: 10px;
    background-color: white;
    color: white;
    background: #000;
    width: 90px;
    height: 30px;
    cursor: pointer;
}
.submit :hover{
    color: #d4d4d4;
   background: black;
}